<div class="container-fluid">
  <h1>Enrollment form</h1>
  <form #formvalues="ngForm">
{{formvalues.value | json}}
<hr/>
{{Usermodel | json}}
  <div class="form-group">
    <label>Name</label>
    <input type="text" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" class="form-control" [(ngModel)]="Usermodel.name" name="name">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" #email="ngModel" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" [class.is-invalid]="email.invalid && email.touched" class="form-control" [(ngModel)]="Usermodel.email" name="Email">
    <small class="text-danger" [class.d-none]="email.valid || name.untouched">Enter valid email id</small>
  </div>
  <div class="form-group">
    <label>Mobile</label>
    <input type="tel" class="form-control" pattern="^\d{10}$" #mobile="ngModel" required [class.is-invalid]="mobile.invalid && mobile.touched" [(ngModel)]="Usermodel.number" name="Mobile">
    <!--<small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Mobile number is required</small>
    -->
    
      <div *ngIf="mobile.errors && (mobile.invalid || mobile.touched)">
        <small class="text-danger" *ngIf="mobile.errors.required">Phone number must be entered</small>
        <small class="text-danger" *ngIf="mobile.errors.pattern">enter 10 numbers</small>
      </div>
    
    </div>
  <div class="form-group">
    <select class="custom-select" [(ngModel)]="Usermodel.gender" name="gender">
      <option selected>Select</option>
      <option *ngFor="let topic of gender">{{topic}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Time slot</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timePreference" [(ngModel)]="Usermodel.time" value="morning">
      <label class="form-check-label">Morning(10-1)</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timePreference" [(ngModel)]="Usermodel.time" value="evening">
      <label class="form-check-label">evening(6-9)</label>
    </div>
  </div>
  <div class="form-check mb3">
    <input class="form-check-input" type="checkbox" [(ngModel)]="Usermodel.subscribe" name="checkbox">
    <label class="form-check-label">
      Accept for Terms and Conditions
    </label>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>